<h2><%= @kid.name %></h2>
<p>
  Birthday: <%= @kid.birthday %>
</p>
<p>
<ul>
Has these aregivers:<br>
  <% @kid.users.uniq.each do |user| %>
    <li><%= link_to user.username, user_path(user) %> <br></li>
     
  <% end %> <br><br>

Has these recorded logs:<br><br>
    <% @kid.behavior_logs.each do |log|%>
    <li>Incident date:    <%= link_to log.date, behavior_log_path(log)%> - Recorded by: <%= link_to log.user.username, user_path(log.user)%> </li>
   
    <% end %>
 </p> 