<h2><%= @kid.name %></h2>
<p>
  Birthday: <%= @kid.birthday %>
</p>
<p>
<ul>
Has these aregivers:<br>
  <% @kid.users.uniq.each do |user| %>
    <li><%= user.username %> <br></li>
     
  <% end %> <br><br>

Has these recorded logs:<br><br>
    <% @kid.behavior_logs.each do |log|%>
    <li>Incident date:    <%= link_to log.time, behavior_log_path(log)%> - Recorded by: <%= log.user.username %> </li>
   
    <% end %>
 </p> 