<h2><%= @kid.name %></h2>
<p>
  Birthday: <%= @kid.birthday %>
</p>
<p>
<!--Belong to these caregivers:<br><br>
  <% @kid.users.each do |user| %>
    <%= link_to user.username, user_path(user) %> <br>
     
  <% end %> <br><br>-->
Has these recorded logs:<br><br>
    <% @kid.behavior_logs.each do |log|%><br>
    Date:    <%= log.date%><br/>
    Time:    <%= log.time%><br/>
    Location:<%= log.location%><br/>
    Before behavior happen: <%= log.before_behavior%><br/>
    Behavior description:   <%= log.behavior_content%><br/>
    Behavior outcome:       <%= log.outcome%><br/>
    Recorded by: <%=log.user.username%><br/>
    -----------------------------------------------------
    <% end %>
 </p> 