<h1>Sign Up Here</h1>
<%= render partial: "layouts/error", locals: {object: @user} %>
<p>
<%= form_for(@user, url:'/signup') do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <br>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <br>
    <%= f.label :password %>
    <%= f.password_field :password %> <!--we use password instead of password_digest here b/c if we send in password_digest= it will end up storing the rosster in it and we bypass 'bcrypt'. Only in the database that we reference this as password_digest -->
    <br>
    <%= f.submit "Submit"%>
<% end %>
</p>